<h1>Bài Tập tự Làm </h1>
<!-- <a [routerLink]="['/Bai2']" routerLinkActive= "router-link-active">  Bài 2</a>
<a [routerLink]="['/Bai3']" routerLinkActive= "router-link-active">  Bài 3</a>
<a [routerLink]="['/Bai4']" routerLinkActive= "router-link-active">  Bài 4</a>
<a [routerLink]="['/Bai5']" routerLinkActive= "router-link-active">  Bài 5</a>
<a [routerLink]="['/Bai6']" routerLinkActive= "router-link-active">  Bài 6</a>
<a [routerLink]="['/Bai7']" routerLinkActive= "router-link-active">  Bài 7</a> -->
<app-bai2></app-bai2>
<app-bai3></app-bai3>
<app-bai4></app-bai4>
<app-bai5></app-bai5>
<app-bai6></app-bai6>
<app-bai7></app-bai7>
